name: CI

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
  workflow_dispatch:


jobs:
  test:
    name: ${{ matrix.platform }} (${{ matrix.python-version }})
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    uses: tlambert03/workflows/.github/workflows/test_pyrepo.yml@main
    with:
      python-version: ${{ matrix.python-version }}
      platform: ${{ matrix.platform }}
